.error {
    color: red;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

#nameHeader, #numPlaysHeader {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}